@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.app {
  background-image: url("https://static.wallhaven.cc/images/layout/bg-dark-grain.png");
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.navbar>.logo {
  background: #EC1D24;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -3px;
}

.text {
  margin-top: 15px;
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
}

.card-container {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 85vh;
  /* background-color: #fff; */
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3%;
  overflow: auto;
  padding: 2%;
}

.card {
  height: 70vh;
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 30px rgb(78, 78, 78);
}

.add-button {
  color: white;
  position: absolute;
  bottom: 4%;
  right: 4%;
  cursor: pointer;
}.card-container::-webkit-scrollbar {
  width: 10px;
}

.card-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
  background-image: url("https://static.wallhaven.cc/images/layout/bg-dark-grain.png");
  border-radius: 10px;
}

@media (max-width:700px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card {
    width: auto;
  }
}