@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.app {
  background-image: url("https://static.wallhaven.cc/images/layout/bg-dark-grain.png");
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  background: #EC1D24;
  width: 150px;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -3px;
}

.text {
  margin-top: 15px;
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
}

.card-container {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 85vh;
  /* background-color: #fff; */
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3%;
  overflow: auto;
  padding: 2%;
}

.carD {
  height: 70vh;
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 30px rgb(78, 78, 78);
}

a {
  text-decoration: none;
}

.card-heading>h1 {
  padding-top: 2%;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  writing-mode: vertical-rl;
  transform: translateX(-50px);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.carD:hover .card-heading>h1 {
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

.add-button {
  color: white;
  position: absolute;
  bottom: 4%;
  right: 4%;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: url("https://static.wallhaven.cc/images/layout/bg-dark-grain.png");
  border-radius: 10px;
}

.react-responsive-modal-modal {
  color: #fff;
  width: 50%;
  padding: 15%;
  height: 90vh;
  text-align: left;
  vertical-align: middle;
  background: transparent !important;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: fixed;
  top: 14 px;
  right: 14 px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: white !important;
  display: flex;
}

.react-responsive-modal-modal>Form {
  padding-top: 5%;
}

.popup-window {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  margin: auto;
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 00 00 100px black;
  overflow-y: auto;
}

.popup {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  height: 80vh;
  width: 60%;
  border-radius: 5px;
  box-shadow: inset 0 0 30px rgb(78, 78, 78);
  padding: 1%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.popup-header>button {
  background: transparent;
  border: none;
  z-index: 1;
  color: #fff;
}

.popup-header>input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  border: none;
}

.main-box {
  width: 60%;
  height: 100%;
  display: flex;
}

.content {
  width: 100%;
  height: 85%;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.main-box>.content>* textarea {
  line-height: 17px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding-top: 1%;
  cursor: pointer;
}

.main-box>.content>* h5 {
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
}

.content>.desc>textarea {
  min-height: 25vh;
}

.content>.did>textarea {
  min-height: 15vh;
}

.saveButton {
  position: absolute;
  right: 0%;
  bottom: 0;
  background-color: transparent;
  border: none;
  color: #fff;
}

.image>img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 0;
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .carD {
    width: auto;
  }
  .react-responsive-modal-modal {
    width: 90%;
  }
  .add-button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  .popup {
    /* background-color: red; */
    height: auto;
    width: 95%;
  }
  .image>img {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 0;
  }
  .main-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}